replicaCount: 1

image:
  repository: ghcr.io/nikolayrk/discord-peter
  tag: latest
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

config:
  textModel: "gemini-2.0-flash"
  visionModel: "gemini-1.5-flash"
  defaultProvider: "gemini"
  redisUrl: ""
  lokiUrl: "http://loki:3100"
  openaiBaseUrl: ""
  ollamaUrl: ""

secrets:
  discordToken: ""
  geminiApiKey: ""
  openaiApiKey: ""

global: 
  security: 
    allowInsecureImages: true

redis:
  image:
    registry: ghcr.io
    repository: nikolayrk/containers/redis # open-bitnami/containers/redis
    tag: 8.2.2
  architecture: standalone
  enabled: true
  auth:
    enabled: false
  master:
    persistence:
      enabled: true
      size: 1Gi
  replica:
    persistence:
      enabled: false
