name: Test Helm Chart

on:
  workflow_call:
    inputs:
      ref:
        type: string
        required: true
      tag:
        type: string
        required: true
    secrets:
      DISCORD_TOKEN:
        required: true
      GEMINI_API_KEY:
        required: true
      OPENAI_API_KEY:
        required: false
      OPENAI_BASE_URL:
        required: false
      OLLAMA_URL:
        required: false
      DEFAULT_PROVIDER:
        required: false
      TEXT_MODEL:
        required: false
      VISION_MODEL:
        required: false

jobs:
  test-chart:
    runs-on: ubuntu-22.04-arm
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ inputs.ref }}

      - name: Set up Helm
        uses: azure/setup-helm@v4

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.7.0

      - name: Create kind cluster
        uses: helm/kind-action@v1.12.0

      - name: Run chart-testing (install)
        run: |
          ct install \
            --charts charts/discord-peter \
            --target-branch ${{ github.sha }} \
            --helm-extra-set-args "\
              --set=image.repository=ghcr.io/${{ github.repository }} \
              --set=image.tag=${{ inputs.tag }} \
              --set=redis.image.registry=ghcr.io \
              --set=redis.image.repository=nikolayrk/containers/redis \
              --set=redis.image.tag=8.2.2 \
              --set=global.security.allowInsecureImages=true \
              --set=secrets.discordToken=${{ secrets.DISCORD_TOKEN }} \
              --set=secrets.geminiApiKey=${{ secrets.GEMINI_API_KEY }} \
              --set=secrets.openaiApiKey=${{ secrets.OPENAI_API_KEY }} \
              --set=config.defaultProvider=${{ secrets.DEFAULT_PROVIDER }} \
              --set=config.openaiBaseUrl=${{ secrets.OPENAI_BASE_URL }} \
              --set=config.ollamaUrl=${{ secrets.OLLAMA_URL }} \
              --set=config.textModel=${{ secrets.TEXT_MODEL }} \
              --set=config.visionModel=${{ secrets.VISION_MODEL }} \
              --set=config.lokiUrl=${{ secrets.LOKI_URL }}"
